* {
    margin: 0;
}
body {
    height: 100%;
    background-image: url("./img/wallpaper.jpg");
    background-size: 100% auto;
}
h1 {
    text-align: center;
}
hr {
    background: rgb(241, 165, 64);
    height: 1px;
}
hr.symbol {    
    padding: 0;
    border: none;
    border-top: medium double y;
    color: rgb(241, 165, 64);
    text-align: center;
}    
hr.symbol:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;   
}
table, td {
    border: 0;
  }
  td {
    padding: 5px;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -142px;
}
.page-wrap:after {
    content: "";
    display: block;
}
#content {
    float: left;
    margin: 0.5em 0.5em 0.5em 1em;
    width: 800;
    word-wrap: break-word;
}
#intro {
    float: left;
    margin: 0.5em 0.5em 0.5em 1em;
    width: 1000;
    word-wrap: break-word;
    color: white;
    font-size: large;
}
.item {
    margin: 0.4em;
    width: 800;
    word-wrap: break-word;
    background-color: rgb(204, 204, 204);
    padding-top:10px; 
    padding-left:10px;   
}

/* Buttons */
#search_button {
    position: relative;
    float: right;
    height: 43px;
    display: block;
    background-color: rgb(241, 165, 64);
    color: black;
    text-align: center;
    text-decoration: none;
}
.button, .add_cart {
    display: inline-block;
    border-radius: 4px;
    background-color: #8d8b8b;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Images */
img.wrap {
    float: left;
    padding: 1em
}
#cart {
    float: right;
    display: block;
}

/* -- Header -- */
.center-fit {
    padding: 10;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%
}

/* -- Footer -- */
footer, .page-wrap:after {
    height: 142px;
}
footer {
    clear: both;
    text-align: center;
    padding: 0;
    height: 100px;
    width: 100%;
    border: 1px solid rgb(241, 165, 64);
    margin: 0px auto;
    background-color: rgb(241, 165, 64);
    color: black
}
span.tab {
    padding-left: 5em;
    font-size: x-small
}
/* -- Navigation Menu -- */
.navbar {
    height: 43px;
    width: 99%;
    border: 1px solid rgb(241, 165, 64);
    margin: 0px auto;
}
#navbar ul {
    position: relative;
    height: 99%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(24, 23, 23);
}
#navbar li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    float: left;
}
#navbar li a {
    display: block;
    width: 101px;
    height: 27px;
    padding-top: 16px;
    float: left;
    font-size: .9em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar li.active a,
#navbar li a:hover {
    background-color: rgb(241, 165, 64);
    background-position: 0 -43px;
}

/* -- Search Bar -- */
#main {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
}
#search {
    float: right;
    right: 12px;
    top: 10px;
    width: 30%;
    text-align: right
}
#search .button {
    width: 166px;
    height: 17px;
    border: none;
    padding: 3px 12px
}
#search .submit {
    width: 22px;
    height: 23px;
    border: none;
    padding: 0;
    margin-left: 5px
}
#category {
    height: 43px; 
    margin-left: 50em
}

/* -- Advertisements -- */
#random_ad {
    padding: 0px;
    display: block;
    margin: 0.5em 3em 0.5em 0.5em;
    max-height: 100%;
    max-width: 100%;
    float: right;
}

/* -- Fluid layout -- */
@media all and (max-width: 1200px) {
    #random_ad {
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
    }
}
@media all and (max-width: 700px) {
    img.wrap {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    #random_ad {
        display: none;
    }
}
@media all and (max-width: 1400px) {
    #intro {
        width: 500;
        word-wrap: break-word;
    }
}
@media all and (max-width: 500px) {
    #intro {
        width: 250px;
        word-wrap: break-word;
    }
}
@media all and (max-width: 1400px) {
    #category {
        margin-left: 0
    }
}
@media only screen and (max-width: 500px) {
    .navbar {
        height: 200px;
        width: 300px;
        border: 1px solid rgb(241, 165, 64);
        margin: 0px auto;
        color: white;
    }
    #navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 300px;
        color: white;
    }   
    #navbar li {
        display: block;
        text-align: center;
        position: relative;
        padding-left: 50px
    } 
    #navbar li a {
        display: block;
        color: white;
        text-decoration: none;
        width: 200px;
    }
    #navbar li a:hover {
        background-color: rgb(241, 165, 64);
        width: 200px;
        color: black;
    }
    #search {
        float: left;
        right: 12px;
        top: 10px;
        width: 200px;
        text-align: right
    }
    #search .button {
        width: 200px;
        height: 17px;
        border: none;
        padding: 3px 12px
    }
    #search .submit {
        width: 22px;
        height: 23px;
        border: none;
        padding: 0;
        margin-left: 5px
    }
    #search_button {
        position: relative;
        float: left;
        height: 43px;
        display: block;
        background-color: rgb(241, 165, 64);
        color: black;
        text-align: center;
        text-decoration: none;
    }
}