* {
    margin: 0;
}
body {
    height: 100%;
    background-image: url("./img/wallpaper.jpg");
    background-size: 100% auto;
}
h1 {
    text-align: center;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}
  .page-wrap:after {
    content: "";
    display: block;
}
#content {
    float: left;
    margin: 0.5em 0.5em 0.5em 1em;
    width: 800;
    word-wrap: break-word;
}
#intro {
    float: left;
    margin: 0.5em 0.5em 0.5em 1em;
    width: 800;
    word-wrap: break-word;
    color: white;
    font-size: large;
}

/* -- Header -- */
.center-fit {
    padding: 10;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%
}

/* -- Footer -- */
footer, .page-wrap:after {
    height: 142px;
}
footer {
    clear: both;
    text-align: center;
    padding: 0;
    height: 7%;
    width: 100%;
    border: 1px solid rgb(241, 165, 64);
    margin: 0px auto;
    background-color: rgb(241, 165, 64);
    color: black
}
span.tab {
    padding-left: 5em;
    font-size: x-small
}
/* -- Navigation Menu -- */
.navbar {
    height: 43px;
    width: 99%;
    border: 1px solid rgb(241, 165, 64);
    margin: 0px auto;
}
#navbar ul {
    position: relative;
    height: 99%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(24, 23, 23);
}
#navbar li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    float: left;
}
#navbar li a {
    display: block;
    width: 101px;
    height: 27px;
    padding-top: 16px;
    float: left;
    font-size: .9em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar li.active a,
#navbar li a:hover {
    background-color: rgb(241, 165, 64);
    background-position: 0 -43px;
}

/* -- Search Bar -- */
#main {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
}
#search {
    float: right;
    right: 12px;
    top: 10px;
    width: 30%;
    text-align: right
}
#search .button {
    width: 166px;
    height: 17px;
    border: none;
    padding: 3px 12px
}
#search .submit {
    width: 22px;
    height: 23px;
    border: none;
    padding: 0;
    margin-left: 5px
}

/* -- Advertisements -- */

#random_ad {
    padding: 0px;
    display: block;
    margin: 0.5em 3em 0.5em 0.5em;
    max-height: 100%;
    max-width: 100%;
    float: right;
}

.item {
    margin: 0.4em;
    background-color: #C0C0C0;
}
